.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Remove the arrow head up and arrow head down in number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Poppins;
    background-color:hsl(0, 0%, 94%);
    padding: 20px;
  }

  .calculator-container{
    background-color: white;
    max-width: 700px;
    margin: 100px auto;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:60px;
    border-bottom-left-radius:10px;
    padding: 30px 15px;
  }

  input{
    padding: 6px 12px;
    width: 80px;
    border: 1px solid hsl(0, 0%, 94%);
    border-radius: 5px;
    font-weight:bolder;
    font-size: medium;
}

.header{
  display:flex;
 margin-bottom: 30px;
}

.day,.month,.year{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

label{
  font-size: x-small;
  font-weight: bold;
  margin-bottom: 3px;
}

.error-message{
  font-size: xx-small;
  color:hsl(0, 100%, 67%);
}

.error-label{
  color:(0, 100%, 67%);
}

.error-input{
 border-color:(0, 100%, 67%)
}

.divider{
  border-top: 2px solid hsl(0, 0%, 94%);
  position: relative;
  margin-bottom: 20px;
  margin-left: 5px;
}

button img{
  background-color: hsl(259, 100%, 65%);
  border: none;
  width: 35px;
  border-radius: 30px;
  padding:10px
 
}

button{
  border: none;
  background-color: white;
  position:absolute;
  top: -18px;
  left:50%;
  
}

.result{
color:  hsl(259, 100%, 65%);
font-size: 50px;
font-weight: 800;
font-style: italic;
vertical-align: middle;
}

p{
  font-weight: bolder;
  font-size: 40px;
  font-style: oblique;
}


@media(min-width:480px){
button{
  left:96%
}
}
